body {
  font-family: Helvetica;
  background-color: #222;
  color: white;
  padding: 0;
  margin: 0;
  padding-bottom: 4em;
}

#top_bar {
  background-color: #111;
  border-bottom: 2px solid #0C0C0C;
  padding: 3px 10px;
  font-family: Georgia;
  color: #888;
}

#top_bar a {
  text-decoration: none;
  font-size: 1.3em;
}

#main_column {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 2.6em;
  text-align: center;
  text-shadow: 2px 2px 2px #000;
  margin-bottom: 0.3em;
}

h2 {
  text-align: center;
  color: #99FF33;
  text-shadow: 2px 2px 2px #000;
  font-size: 1.5em;
  margin-bottom: 1em;
}



/* COLOR STUFF */

a {
  color: #66FFFF;
}

a:visited {
  color: lightpurple;
}




/* SIGNUP FORM */

#feed_examples {
  float: right;
  width: 180px;
  font-size: 0.8em;
  color: #66FFFF                                                                                                                                                                                                                                          ;
}

.field_outer {
  border: 1px solid #555;
  background-color: white;
  color: #999;
  font-size: 2em;
}

.field_inner input {
  font-size: 1em;
  font-family: Georgia;
  background: none;
}

input.url {
  text-align: right;
  width: 340px;
}

.field_outer input {

}

.field_inner {
  border: 1px solid #222;
  text-align: right;
  padding: 4px 8px;
  font-family: Georgia;
}

.field_inner {
  background: white url('/images/field_background.png') repeat-x;
}

.field_inner input {
  border: 0;
}

.field_inner input, .center_form #feed_entry textarea {
  outline: none;
}

.center_form textarea {
  width: 100%;
}

.center_form #feed_entry textarea {
  overflow: auto;
  background: none;
  border: 0;
  width: 310px;
  height: 232px;
  font-family: Helvetica;
  padding: 8px;
}

#feed_entry {
  width: 330px;
  height: 250px;
}

#feed_entry .field_inner {
  padding: 0;
}

.center_form label {
  font-size: 1.3em;
  color: #DDD;
}

.field {
  margin-bottom: 1em;
}

.center_form input[type=submit]{
  font-size: 1.3em;
  border: 1px solid #CCC;
  background: url('/images/button_background.png');
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  font-weight: bold;
  padding: 8px 20px;
  text-shadow: 1px 1px 1px #CCC;;
  color: #222;
}

.center_form input[type=submit]:hover {
  background: none;
  background-color: #DDD;
  color: #111;
  text-shadow: 1px 1px 1px white;
}

.fieldWithErrors {
  display: inline;
}









/* ENTRIES PAGE */

#warning {
  background-color: red;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  padding: 6px 12px;
  color: white;
  margin: 1em 0;
  font-size: 1.3em;
}

#warning p {
  margin: 0;
}

#warning .subtle {
  margin-top: 1em;
  font-size: 0.6em;
}

#new_stuff {
  display: inline;
}

.entry, .center_form, .pages a {
  background-color: #333;
  border: 1px solid #444;
}

.entry, .center_form {
  margin-bottom: 1em;
  padding: 1em 2em;
  overflow: hidden;
}

#site_status {
  padding-top: 2em;
  text-align: center;
}

.pages a {
  color: white;
  text-decoration: none;
  padding: 3px 8px;
  line-height: 2em;
}

.entry .meta {
  font-size: 0.8em;
}

.entry .meta, .entry .meta a {
  color: #999;
}


