body {
  font-family: Helvetica;
  background-color: #222;
  color: white;
  padding: 0;
  margin: 0;
}

#top_bar {
  background-color: #111;
  border-bottom: 2px solid #0C0C0C;
  padding: 3px 10px;
  font-family: Georgia;
  color: #888;
}

#top_bar a {
  text-decoration: none;
  font-size: 1.3em;
}

#main_column {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 2.6em;
  text-align: center;
  text-shadow: 2px 2px 2px #000;
  margin-bottom: 0.3em;
}

h2 {
  text-align: center;
  color: #99FF33;
  text-shadow: 2px 2px 2px #000;
  font-size: 1.5em;
  margin-bottom: 1em;
}



/* COLOR STUFF */

a {
  color: #66FFFF;
}

a:visited {
  color: lightpurple;
}




/* SIGNUP FORM */

textarea {
  overflow: auto;
  width: 330px;
}

#feed_examples {
  float: right;
  width: 180px;
  font-size: 0.8em;
  color: #66FFFF                                                                                                                                                                                                                                          ;
}






/* ENTRIES PAGE */

.entry, .center_form {
  background-color: #333;
  border: 1px solid #444;
  margin-bottom: 1em;
  padding: 1em 2em;
  overflow: hidden;
}

