<div id="warning">
  <p><strong>WARNING:</strong> Gathrr is really, really new. It WILL break. Feel
  free to try it and send us feedback, but don't use it for anything important*.</p>

  <p class="subtle">* unless you are a diabolical villain intent on destroying the 
  earth, in which case: yes, please weave it into your intricate plans.</p>
</div>
