<div id="site_status"><img src="/images/spinner.gif"> loading your feeds. this might take a couple minutes...</div>

<script type="text/javascript">

  function poll_for_completion(site_id, last_modified) {
    setTimeout(function() {
      new Ajax.Request('/sites/' + site_id + '/newest_entries', {
        method: 'get',
        requestHeaders: { 'If-Modified-Since': last_modified },
        onComplete: function(transport) {
          if (transport.status == 304) {
            poll_for_completion(site_id, last_modified);
          } else if (transport.status == 200) {
            window.location.href = '<%= site_url(@site) %>';
          }
        }
      }) },
      3000
    )
  }

  poll_for_completion(<%= @site.id %>, '<%= @site.time_refresh_was_queued %>');
</script>
